@use '@/styles/abstract' as *;

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;

    @include respond-to('tablet') {
        padding: 0 2rem;
    }

    @include respond-to('desktop') {
        padding: 0 2.5rem;
    }
}
