@use '../abstract/colors' as *;
@use '../abstract/mixins' as *;

.sponsors {
    width: 100%;
    margin: 1rem 0rem;
    &__container {
        padding: 0;
    }

    &__row {
        &--top {
            @include flex-layout($align: center, $justify: space-between);
            margin-bottom: 1.5rem;
        }

        &--bottom {
            @include flex-layout($align: center, $justify: center);
            gap: 1.5rem;
        }
    }

    &__item {
        @include flex-layout($align: center, $justify: center);

        &--lg {
            flex: 0 0 35%;
        }
        &--md {
            flex: 0 0 30%;
        }
        &--sm {
            flex: 0 0 20%;
        }
        &--xs {
            flex: 0 0 16%;
        }
    }
    @include respond-to('tablet') {
        margin: 3rem 0rem;
        padding: 0rem 9rem;
    }

    @include respond-to('desktop') {
        margin: 3rem 0rem;
        padding: 0rem clamp(1.5rem, 8vw, 9rem);
        &__container {
            @include flex-layout($align: center, $justify: space-around);
            width: 100%;
        }

        &__row {
            display: contents;
        }

        &__item {
            flex: 0 1 auto;
        }
    }
}
