@use '../abstract/variables' as *;

.section-tag {
    color: $color-secondary;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    display: block;
}

// "Explore the world!" Tag
.tag-pill {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.25rem;
    border-radius: 6.25rem;
    background-color: rgba($color-secondary, 0.1);
    color: $color-secondary;
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
}

// Floating Badges ("Top Places", "Discounted Price")
.badge-floating {
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background: $color-white;
    padding: 0.65rem 1.25rem;
    border-radius: 6.25rem;
    box-shadow: $shadow-floating-card;
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    z-index: $z-content;
}

// Floating Circular Icon Badges
.floating-icon {
    position: absolute;
    z-index: $z-content;
    display: inline-flex;
    line-height: 1;

    // Drop-shadow drop kar do direct icon/circle shapes par
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.12));

    .icon-paper-plane,
    .icon-user {
        font-size: 3.5rem; // Circle and icon scale controller
        display: block;
    }
    .icon-user .path2:before {
        margin-left: -1.2em !important;
    }
}
