// ==========================================
// CUSTOM COLORS
// ==========================================

$purple: #5d50c6;
$pink: #f85e9f;
$orange: #ff5722;
$black: #000000;
$dark-gray: #191825;
$yellow: #facd49;
$white: #ffffff;
