@use './colors' as *;

// ==========================================
// ABSTRACTS: VARIABLES (COLORS & STYLES)
// ==========================================

// 1. Core Brand Colors
$color-primary: $purple;
$color-secondary: $pink;
$color-accent-orange: $orange;

// 2. Text Colors
$color-text-dark: $black;
$color-text-muted: $dark-gray;
$color-text-active: $dark-gray-active;

$color-yellow-star: $yellow;
$color-dot-inactive: rgba($color-text-muted, 0.1);
$color-dot-active: $color-secondary;

// 3. Section Backgrounds & Accents
$grad-mesh-orange: radial-gradient(
    circle,
    rgba(255, 87, 34, 0.15) 0%,
    rgba(255, 255, 255, 0) 70%
);
$grad-mesh-yellow-right-center: radial-gradient(
    ellipse 60% 80% at right center,
    rgba(241, 213, 111, 0.4) 0%,
    rgba(255, 230, 150, 0.18) 50%,
    rgba(255, 255, 255, 0) 80%
);

// 4. Component / Card Backgrounds
$color-white: $white;

// ==========================================
// ABSTRACTS: TYPOGRAPHY VARIABLES
// ==========================================

// Font Families
$font-family-base:
    'Inter',
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
$font-family-heading: 'Circular Std', 'Inter', sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-large: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font Sizes
$font-badge-floating: 0.449375rem;
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 2rem; // 32px
$font-size-4xl: 2.5rem; // 40px
$font-size-5xl: 3.5rem; // 56px

// ==========================================
// MOBILE-FIRST BREAKPOINT MAP
// ==========================================
$breakpoints: (
    'tablet': 431px,
    'desktop': 1025px,
);

// ==========================================
// BORDERS
// ==========================================
$border-translucent-dark: 0.0625rem solid rgba($color-text-muted, 0.1);

// ==========================================
// SHADOWS
// ==========================================
$shadow-button-primary: 0 0.875rem 1.75rem -0.25rem rgba(0, 0, 0, 0.25);
$shadow-button-primary-hover: 0 1.25rem 2.1875rem rgba($color-primary, 0.35);
$shadow-badge-discount: 0 0.25rem 0.9375rem rgba($black, 0.05);
$shadow-floating-card: 0 0.75rem 1.75rem rgba($black, 0.08);
$shadow-icon: 0 0.5rem 0.0625rem rgba($black, 0.12);
$shadow-tags: 0 0.75rem 5rem rgba(0, 0, 0, 0.08);

// ==========================================
// Z-index variables
// ==========================================
$z-behind: -1;
$z-default: 0;
$z-base: 1;
$z-content: 2;
$z-floating-icon: 3;
$z-nav: 100;
