@font-face {
    font-family: 'icomoon';
    src:
        url('/assets/fonts/icomoon.woff') format('woff'),
        url('/assets/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
    content: '\e900';
    color: #f85e9f;
}
.icon-facebook-logo:before {
    content: '\e901';
    color: #5d50c6;
}
.icon-instagram-logo .path1:before {
    content: '\e902';
    color: rgb(93, 80, 198);
}
.icon-instagram-logo .path2:before {
    content: '\e903';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-left-arow .path1:before {
    content: '\e904';
    color: rgb(255, 255, 255);
}
.icon-left-arow .path2:before {
    content: '\e905';
    margin-left: -1em;
    color: rgb(25, 24, 37);
}
.icon-location:before {
    content: '\e906';
    color: #facd49;
}
.icon-paper-plane .path1:before {
    content: '\e907';
    color: rgb(248, 94, 159);
}
.icon-paper-plane .path2:before {
    content: '\e908';
    margin-left: -0.732421875em;
    color: rgb(255, 255, 255);
}
.icon-right-arrow .path1:before {
    content: '\e909';
    color: rgb(93, 80, 198);
}
.icon-right-arrow .path2:before {
    content: '\e90a';
    margin-left: -0.875em;
    color: rgb(255, 255, 255);
}
.icon-star:before {
    content: '\e90b';
    color: #facd49;
}
.icon-twitter-logo .path1:before {
    content: '\e90d';
    color: rgb(93, 80, 198);
}
.icon-twitter-logo .path2:before {
    content: '\e90e';
    margin-left: -1em;
    color: rgb(241, 242, 242);
}
.icon-user .path1:before {
    content: '\e90f';
    color: rgb(255, 87, 34);
}
.icon-user .path2:before {
    content: '\e910';
    margin-left: -0.732421875em;
    color: rgb(255, 255, 255);
}
.icon-watch:before {
    content: '\e911';
    color: #5d50c6;
}
