@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
body {
    position: relative;
    overflow-x: hidden;
}
.glow-bg-pink {
    position: absolute;
    top: -2.25rem;
    left: -2.0625rem;
    width: 17rem;
    height: 21.75rem;
    border-radius: 50%;

    background-color: $color-accent-orange;
    opacity: 0.5;
    filter: blur(10.46875rem);

    pointer-events: none;
    z-index: $z-behind;

    @include respond-to('tablet') {
        width: 25rem;
        height: 30rem;
        top: -4rem;
        left: -3rem;
        filter: blur(12rem);
    }

    @include respond-to('desktop') {
        width: 32rem;
        height: 38rem;
        top: -5rem;
        left: -4rem;
        filter: blur(14rem);
    }
}

.glow-bg-yellow {
    position: relative;
    z-index: $z-base;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 21.875rem;
        height: 31.25rem;
        background: $grad-mesh-yellow-right-center;
        filter: blur(2.5rem);
        pointer-events: none;
        z-index: $z-behind;
    }
}

// Text Highlight Utility
.text-highlight {
    color: $color-secondary;
}
